<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FCUBSRTServiceSEIBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="FCUBSAccServiceSEIBinding1"/>
                <binding name="FCUBSAccServiceSEIBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="FCUBSAccServiceSEIBinding2"/>
                <binding name="FCUBSRTServiceSEIBinding1"/>
                <binding name="FCUBSCustomerServiceSEIBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="FCUBSCustomerServiceSEIBinding1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://10.179.100.243:7061/FCUBSAccService_v1.1" binding="basicHttpBinding" bindingConfiguration="FCUBSAccServiceSEIBinding" contract="UBSAccWebService.FCUBSAccServiceSEI" name="FCUBSAccServiceSEI"/>
            <endpoint address="https://10.179.100.243:7061/FCUBSRTServiceV1" binding="basicHttpBinding" bindingConfiguration="FCUBSRTServiceSEIBinding" contract="UBSRTWebService.FCUBSRTServiceSEI" name="FCUBSRTServiceSEI"/>
            <endpoint address="https://10.179.100.243:7061/FCUBSCustomerService_v1.1" binding="basicHttpBinding" bindingConfiguration="FCUBSCustomerServiceSEIBinding" contract="UBSCustWebService.FCUBSCustomerServiceSEI" name="FCUBSCustomerServiceSEI"/>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
